{% extends "adminpages/adminbase.html" %}

{% block title %}Pending Order{% endblock %}

{% block content %}
    {% if request.user.account.users.staffs.position == "Manager" or  request.user.account.users.staffs.position == "Sale Staff" %}
    <div class="container" style="padding-top: 3rem">
        <div class="row">
            <div class="col-md-12">
                <h3>Pending Orders</h3>
                <table class="table table-hover">
                    <thead style="background-color: #D19C97">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Order ID </th>
                            <th scope="col">Customer</th>
                            <th scope="col">Ordered On</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in pendingorders %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td><a href="{% url 'ecomapp:adminorderdetail' order.id %}">#ORDER_{{order.id}}</a></td>
                            <td>{{order.customerid.userid.fullnameid.fullname}}</td>
                            <td>{{order.time}}</td>
                            <td>{{order.total}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %} 
        <p> Không có quyền truy cập </p> 
    {% endif%}
{% endblock %}