{% extends 'adminpages/adminbase.html' %}
{% block title %}All Products{% endblock %}


{% block content %}
    {% if request.user.account.users.staffs.position == "Manager" or  request.user.account.users.staffs.position == "Warehouse Staff" %}
    <div class="container" style="padding-top: 3rem"> 
        <div class="row">
            <div class="col-md-12">
                <h3>All Improting Record</h3>
                <table class="table table-hover">
                    <thead style="background-color: #D19C97">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Number</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in allrecords %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{record.supplierid}}</td>
                            <td>{{record.productid}}</td>
                            <td>{{record.price}}</td>
                            <td>{{record.num}}</td>
                            <td>{{record.total}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %} 
            <p> Không có quyền truy cập </p> 
    {% endif%}
{% endblock %}