{% extends 'adminpages/adminbase.html' %}
{% load humanize %}
{% block title %}All Item{% endblock %}


{% block content %}
{% if request.user.account.users.staffs.position == "Manager" or  request.user.account.users.staffs.position == "Business Staff" or request.user.account.users.staffs.position == "Warehouse Staff" %}
    <div class="container" style="padding-top: 3rem"> 
        <div class="row">
            <div class="col-md-12">
                <h3>All Item list</h3><hr>
                <form class="form-inline my-2 my-lg-0" action="{% url 'ecomapp:adminitemlist' %}" method="GET">
                    <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                        aria-label="Search" required>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                <table class="table table-hover" style="margin-top: 15px;">
                    <thead style="background-color: #D19C97">
                        <tr>
                            <th class = "align-middle col-1" scope="col">STT</th>
                            <th class = "align-middle col-2" scope="col">Product Title</th>
                            <th class = "align-middle col-1" scope="col">Image</th>
                            {% comment %} <th class = "align-middle col-2" scope="col">Price import</th> {% endcomment %}
                            <th class = "align-middle col-1" scope="col">Price sale</th>
                            <th class = "align-middle col-1" scope="col">Inventory</th>
                            <th class = "align-middle col-3" scope="col">Description</th>
                            <th class = "align-middle col-1" scope="col">Upload?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in allproducts%}
                        <tr>
                            <td class="align-middle" scope="row">{{forloop.counter}}</td>
                            <td class="align-middle"><a href="{% url 'ecomapp:adminitemdetail' p.slug %}">{{p.productid.name}}</a></td>
                            <td class="align-middle"><img src="{{p.image.url}}" style="height: 60px;" alt=""></td>
                            {% comment %} {% for i in importitem%}
                                {% if p.productid == i.productid%}
                                    <td>{{i.price|intcomma}}</td>
                                {% endif%}
                            {% endfor %} {% endcomment %}
                            <td class="align-middle">{{p.price|intcomma}}</td>
                            <td class="align-middle">{{p.productid.num}}</td>
                            <td class="align-middle">{{p.description}}</td>
                            <td class="align-middle" style="font-style: italic; font-weight: 400;">{{p.isUpload}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %} 
        <p> Không có quyền truy cập </p> 
    {% endif%}
{% endblock %}