{% extends 'adminpages/adminbase.html' %}

{% block title %}All Orders {% endblock %}
{% load humanize %}
{% block content %}
    {% if request.user.account.users.staffs.position == "Manager" or  request.user.account.users.staffs.position == "Sale Staff" %}
    
    <div class="container" style="padding-top: 3rem">
        <div class="row">
            <div class="col-md-12">
                <h3>All Orders</h3><hr>
                  <div class = "row">
                       
                    <form class="form-inline my-2 my-lg-0" action="{% url 'ecomapp:adminorderlist' %}" method="GET">
                        <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                            aria-label="Search" required>
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
                <div class = "row" style="margin-top: 20px;">
                <table class="table table-hover">
                    <thead style="background-color: #D19C97">
                        <tr>
                            <th class="align-middle" scope="col">STT</th>
                            <th class="align-middle" scope="col">Order ID </th>
                            <th class="align-middle" scope="col">Customer</th>
                            <th class="align-middle" scope="col">Ordered On</th>
                            <th class="align-middle" scope="col">Amount</th>
                            <th class="align-middle" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in allorders %}
                        <tr>
                            <td class="align-middle" scope="row">{{forloop.counter}}</td>
                            <td class="align-middle"><a href="{% url 'ecomapp:adminorderdetail' order.id %}">#ORDER_{{order.id}}</a></td>
                            <td class="align-middle">{{order.customerid.userid.fullnameid.fullname}}</td>
                            <td class="align-middle">{{order.time}}</td>
                            <td class="align-middle">{{order.total|intcomma}}</td>
                            <td class="align-middle">{{order.status}}</td>
                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    {% else %} 
        <p> Không có quyền truy cập </p> 
    {% endif%}
{% endblock %}