{% extends 'adminpages/adminbase.html' %}
{% block title %}All Products{% endblock %}


{% block content %}
    {% if request.user.account.users.staffs.position == "Manager" or  request.user.account.users.staffs.position == "Warehouse Staff" %}
        <div class="container" style="padding-top: 3rem"> 
            <div class="row">
                <div class="col-md-12">
                    <h3>All Product list</h3><hr>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'ecomapp:adminproductlist' %}" method="GET">
                        <button class="btn my-2 my-sm-0" type="submit" style="background-color: #cce6ff">Tìm kiếm</button>
                        <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                            aria-label="Search" required>
                    </form>
                    {% for c in allcategory %}
                        <a class="btn btn-outline-secondary" href="{% url 'ecomapp:adminproductcreate' c.id %}" role="button">Add {{c.name}}</a>
                    {% endfor %}
                    <table class="table table-hover">
                        <thead style="background-color: #D19C97">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Title</th>
                                <th scope="col">Producer</th>
                                <th scope="col">Manufacturing Year</th>
                                <th scope="col">Type</th>
                                <th scope="col">Inventory</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in allproducts %}
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{p.id}}</td>
                                <td><a href="{% url 'ecomapp:adminproductdetail' p.id %}">{{p.name}}</a></td>
                                <td>{{p.producerid}}</td>
                                <td>{{p.manufacturingyear}}</td>
                                <td>{{p.type}}</td>
                                <td>{{p.num}}</td>
                                <td><a class="btn btn-info" href="{% url 'ecomapp:adminproductdelete' p.id %}">Delete</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %} 
        <p> Không có quyền truy cập </p> 
    {% endif%}
{% endblock %}