{% extends "adminpages/adminbase.html" %}
{% block title %}All Staff{% endblock %}


{% block content %}
    {% if request.user.account.users.staffs.position == "Manager" %}
    <div class="container" style="padding-top: 3rem"> 
        <div class="row">
            <div class="col-md-12">
                <h3>All Staff list</h3><hr>
                <div class = "row">
                    <div class = "col-6">
                <form class="form-inline my-2 my-lg-0" action="{% url 'ecomapp:adminstafflist' %}" method="GET">
                    <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                        aria-label="Search" required>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                </div>
                <div class = "col">
                <a class="btn btn-outline-secondary"  href="{% url 'ecomapp:adminstaffcreate' %}" style = "margin-right: 5px; float: right;" role="button">Add New Staff </a>
                </div>
                </div>
                <table class="table table-hover" style="margin-top: 15px;">
                    <thead style="background-color: #D19C97">
                        <tr>
                            <th class="align-middle" scope="col">STT</th>
                            <th class="align-middle" scope="col">Code Staff</th>
                            <th class="align-middle" scope="col">Position</th>
                            <th class="align-middle" scope="col">Fullname</th>
                            <th class="align-middle" scope="col">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in allstaffs %}
                        <tr>
                            <td class="align-middle" scope="row">{{forloop.counter}}</td>
                            <td class="align-middle"><a href="{% url 'ecomapp:adminstaffdetail' p.userid.id %}">{{p.codeStaff}}</td>
                            <td class="align-middle">{{p.position}}</td>
                            <td class="align-middle">{{p.userid.fullnameid.fullname}}</td>
                            <td class="align-middle" style="font-style: italic; font-weight: 400;">{{p.userid.is_active}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %} 
        <p> Không có quyền truy cập </p> 
    {% endif%} 
{% endblock %}