{% extends 'base.html' %}

{% block title %}Search {% endblock %}

{% block content %}
<div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 50px">
            <h6 class="font-weight-semi-bold text-uppercase mb-3">BANANA</h6>
            
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Tìm kiếm kết quả  <span class="text-info">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row" style = "margin-bottom: 20px; background-color: #f5f5f5; padding: 7px; border-radius: 10px;">
                <div class="col-md-3">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                    <h4><a href="{% url 'ecomapp:productdetail' result.slug %}"  style = "color:#2E2178;">{{result.productid.name}}</a></h4>
                    <p>Giá: {{result.price}} VNĐ</p>
                    <p>{{result.description|truncatewords:50}}</p>
                    <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Thêm vào giỏ hàng</a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}