{% extends 'base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<div>{{abc}}</div>
 {% load static %} 
 <form class="form-inline" action="{% url 'ecomapp:reports' %}" method="GET">
                    <button class="btn my-2 my-sm-0" type="submit" style="background-color: #cce6ff">Go</button>
                    <input name="keyword1" class="form-control mr-sm-2" type="search" placeholder="Month"
                        aria-label="Month" value ={{month}}  required>
                    <input name="keyword2" class="form-control mr-sm-2" type="search" placeholder="Year"
                aria-label="Year"value ={{year}} required>
                <br>
               
                </form> 
<img class="img-fluid" src="{% static 'doanhThuImg.png' %}" alt="Image">

<!-- create button using bootstrap -->
{% if monthyear is None%}
    <p>Download</p>
{% else %}
    <h6 class="text-truncate mb-3" style = ""><a href="{% url 'ecomapp:download' monthyear %}" style = "color:#2E2178;">hihi</a></h6>
{% endif %}
{% endblock %}